*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    font: 2rem;
}

/*Navbar*/
a{
    text-decoration: none;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid grey;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul a{
    display: block;
    padding: 10px;
    border-right: 3px solid grey;
    border-left: 3px solid grey;
}
/*Carrossel*/
.carousel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500pxs;
    transform: translateX(0);


}

.cont-img{
   
    
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    
    
    
    
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



.cont-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5rem;

}


.first-content{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 40vh;
    padding: 10px;
    gap: 5rem;
    border: 3px solid grey;
    text-align: center;

}


.text-procedure{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    
}

.image-procedure{

    max-width: 70%;
    
    
}



