*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    font: 2rem;
    
}
body{
    background-color: #8DBDF2;
}
/*Navbar*/
a{
    text-decoration: none;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    background-color: #8DBDF2;
    color: #fff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul a{
    display: block;
    padding: 10px;
    border-right: 3px solid white;
    border-left: 3px solid white;
}
/*Carrossel*/
.carousel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 300px;
    width: 100%; /* Ajustado para 100% da largura do contêiner pai */
    max-width: 100%; /* Limita a largura máxima para 100% */
    margin: 0 auto; /* Centraliza o carrossel no contêiner pai */
  }
  
  .cont-img {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }

.img-carousel{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*Responsividade carrossel*/
/* Estilo para tornar o carrossel 100% da largura em telas pequenas */
@media (max-width: 767px) {
    .carousel {
      width: 70%; /* Altera a largura para 100% em telas pequenas */
    }
  }
  
  /* Estilo adicional para dispositivos maiores, se necessário */
  @media (min-width: 1123px) {
    .carousel {
      width: 100%; /* Ajuste a largura para 70% em telas maiores */
    }
  }


/*Conteudo Procedimento*/
.cont-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5rem;
    
    

}
/*Procedimentos*/
.desc-procedure{
    border: 5px solid #fff;
    background-color: aliceblue;
    border-radius: 10px 10px 10px 10px;

}

.title-procedure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.procedure-content{
    display: flex;
    align-items: center;
    
    flex-direction: row;
    
}



#img-procedure{
    width: 400px;
    object-fit: cover;
    padding: 20px;

}