*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    font: 2rem;
}

/*Navbar*/
a{
    text-decoration: none;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    background-color: #8DBDF2;
    color: #fff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px 20px 30px 40px;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul a{
    display: block;
    padding: 10px;
    border-right: 3px solid white;
    border-left: 3px solid white;
}
/*Carrossel*/
.carousel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 300px;
    transform: translateX(0);
}
.cont-img{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.img-carousel{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/*Conteudo Procedimento*/
.cont-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5rem;
    background-color: #8DBDF2;

}
/*Procedimentos*/
.cont-content h1:first-child{
    color: #fff;
    border-bottom: 3px;
}

.first-content{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 60vh;
    padding: 10px;
    gap: 5rem;
    background-color: #fff;
    border-radius: 10px 20px 30px 40px;
    text-align: center;
}

.text-procedure{
    
    gap: 10px;
    width: 40%;
}

.image-procedure{
    max-width: 60%;
    height: 20vh;
}



